<div id="sponsors">
  <h3 class="sponsors title">Proudly sponsored and supported by:</h3>

  <div class="sponsors p4">
    <a href="http://www.bulletproof.net.au/" target="_blank">
      <img src="/images/sponsors/bulletproof.png"></img>
    </a>
  </div>

  <div class="sponsors p3">
  </div>

  <div class="sponsors p2">
  </div>

  <div class="sponsors p1">
  </div>

  <div class ="sponsors other">
    Interested in sponsoring the conference?
    <a href="mailto:sponsors@devopsdownunder.org">Get in touch</a>.
  </div>
</div>
<div id="footer">
  All content
  <a href="http://creativecommons.org/">Creative Commons</a>
  licenced
  |
  <a href="/participate">Participate</a>
  <a href="/programme">Programme</a>
  <a href="/location">Location</a>
  <a href="/contact">Contact</a>
</div>
