<div id="sponsors">
  <h3 class="sponsors title">Sponsored and supported by:</h3>

  <div class="sponsors p4">
    <a href="http://www.thoughtworks.com/">
      <img src="/images/sponsors/thoughtworks.gif"></img>
    </a>
    <a href="http://www.realestate.com.au/">
      <img src="/images/sponsors/rea.png"></img>
    </a>
  </div>

  <div class="sponsors p3">
    <a href="http://ninefold.com/">
      <img src="/images/sponsors/ninefold.gif"></img>
    </a>
    <a href="http://www.bulletproof.net.au/">
      <img src="/images/sponsors/bulletproof.png"></img>
    </a>
  </div>

  <div class="sponsors p2">
    <a href="http://www.robotparade.com.au/">
      <img src="/images/sponsors/robot_parade.png"></img>
    </a>
    <a href="http://www.ecetera.com.au/">
      <img src="/images/sponsors/ecetera.jpg"></img>
    </a>
    <a href="http://www.splunk.com/">
      <img src="/images/sponsors/splunk.gif"></img>
    </a>
    <a href="http://www.anchor.com.au/">
      <img src="/images/sponsors/anchor.png"></img>
    </a>
    <a href="http://www.cloudcentral.com.au">
      <img src="/images/sponsors/cloud_central_logo.png"></img>
    </a>
  </div>

  <div class="sponsors p1">
    <a href="http://www.flippa.com/">
      <img src="/images/sponsors/flippa.jpg"></img>
    </a>
  </div>

  <div class ="sponsors other">
    <a href="http://www.yowconference.com.au/">
          <img src="/images/sponsors/yow.jpg"></img>
      </a>
  </div>
</div>
<div id="footer">
  All content
  <a href="http://creativecommons.org/">Creative Commons</a>
  licenced
  |
  <a href="/programme">Programme</a>
  <a href="/location">Location</a>
  <a href="/contact">Contact</a>
</div>
