<div id="sponsors">
	<strong>Sponsored by:</strong>
	<br />
	<br />
	<a href="http://atlassian.com.au"><img src="/images/atlassian.png"/></a>
	<a href="http://railsmachine.com"><img src="/images/railsmachine.png"/></a>
	<a href="http://puppetlabs.com"><img src="/images/puppetlabs.png"/></a>
</div>

<div id="footer">
	All content
	<a href="http://creativecommons.org/">Creative Commons</a>
	licenced
	|
	<a href="/programme">Programme</a>
	<a href="/location">Location</a>
	<a href="/contact">Contact</a>
</div>
