      <div id="header">
        <div id="dates">
          July 22 &amp; 23, 2011<br />
          Melbourne
        </div>
        <div id="nav">
          <a href="/programme">Programme</a>
          <a href="/location">Location</a>
          <a href="/contact">Contact</a>
          <a href="/retrospective">Retrospective</a>
        </div>
        <div id="title">
          <a href="{{ site.url }}/">
            <img id="logo" src="{{ site.url}}/images/logo.png" alt="Devops Down Under" title="Devops Down Under"/>
          </a>
        </div>
      </div>
