a {
  color: #005c94;
}

a:visited {
  color: #7d3f94;
}

div#header a:visited {
  color: #005c94;
}

div#header a:hover {
  color: white;
  background-color: #005c94;
}

div#header a:hover:visited {
  color: white;
}

div#header a:hover img {
  background-color: white;
}

div#content div.intro {
  background-color: black;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

